* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recipes-page,
.recipe-card {
    margin: 32px auto;
    padding: 64px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: hsl(180, 16%, 96%);
    border-radius: 32px;
    width: 900px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: hsl(34, 94%, 48%);
}

a {
    text-decoration: none;
    color: hsl(204, 93%, 36%);
    padding: 8px 12px;
    background-color: hsl(180, 23%, 94%);
    border-radius: 12px;
}

.recipes-menu {
    text-align: center;
}

.recipes-menu li {
    list-style-type: none;
    margin-bottom: 32px;
}

img {
    width: 350px;
    height: auto;
    border-radius: 16px;
}

h2 {
    text-align: center;
    color: hsl(34, 94%, 48%);
    margin: 16px auto;
}

.ingredients,
.steps, 
p {
    line-height: 32px;
    width: 800px;
    height: auto;
    margin: 0 auto;
    color: hsl(187, 91%, 14%);
}

.home-button {
    display: block;
    width: 80px;
    margin-top: 64px;
    margin-left: -32px;
    text-align: center;
    font-size: 14px;
    padding: 3px 8px;
}

.image {
    width: 350px;
    margin: 0 auto;
}

.credit {
    font-size: 12px;
    color: gray;
    margin-bottom: 32px;
}