* {
    box-sizing: border-box;
    color:hsl(206, 93%, 16%)
}

/* body{
    background-color: #8ab9eb;
    background-image: url("/images/for-bg2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
} */

h1,
h2,
p,
ul,
ol {
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    /* color: rgb(63, 156, 209); */
    color: hsl(210, 100%, 56%);
}

a:hover {
    color: #0b66c7;
}

h1,
h2 {
    color: hsl(41, 84%, 48%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

h1 {
    margin: 40px;
    text-align: center;
    font-size: 200%;
}

h2 {
    text-align: center;
}

.menu {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    border-style: hidden;
    list-style-type: none;
    line-height: 2;
}

.menu-card {
    /* border-style: dotted; */
    padding: 10px;
    margin: auto;
    background-color: rgb(243 244 246);
    border-radius: 25px;
    width: 600px;
}

img {
    height: auto;
    margin: auto auto 50px auto;
    border: 2px solid rgb(63, 156, 209);
    padding: 2px;
    border-radius: 27px;
    display: block;
    width: 300;
}

.french-toast,
.baby-spinach-omelet,
.basic-crepes {
    display: inline-block;
    border-radius: 30px;
    padding: 20px;
    margin: 20px 10px;
    /* margin: 20px 10px 20px 10px; */
    background-color: rgb(222, 238, 241);
    width: 30%;
}

.introduction, 
.description,
.ingredients,
.steps {
    width: 650px;
    padding: 20px;
    margin: -30px auto 30px;
    line-height: 1.7;
}